.newsletter
  position: relative
  padding: 50px 300px 50px 55px
  background: #FFFFFF
  border: 1px solid #E4E4E4
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1)
  border-radius: 4px
  +media-md 
    padding: 40px
    padding-left: 30px
    padding-right: 130px
  +media-sm 
    padding: 20px


.newsletter__title
  font-size: 18px
  font-weight: 600
  color: $color-dark
  margin-bottom: 20px

.newsletter__form
  display: flex
  +media-sm 
    flex-wrap: wrap

.newsletter__item
  width: 230px
  margin-right: 30px 
  &:last-child 
    margin-right: 0px
    width: 210px
  +media-md 
    margin-right: 15px
  +media-sm 
    width: 100%
    margin-right: 0
    margin-bottom: 15px
    &:last-child
      margin: 0 auto

.newsletter__img
  position: absolute
  width: 350px
  top: -5px
  right: -70px
  img 
    width: 100%
  +media-md 
    width: 140px
    top: 45px
    right: -35px
  +media-sm 
    display: none