.stock__title
  text-align: center
  margin: 22px 0px 32px

.stock__newsletter
  margin-bottom: 50px


// ---------------- stock__banner -------------------

.stock__banner-title
  margin-bottom: 20px

.stock__banner
  margin-bottom: 50px

.stock__banner-row
  display: flex
  margin: 0 -15px

.stock__banner-col
  width: 33.33%
  height: 350px
  padding: 0 15px

.stock__banner--1
  .stock__banner-col
    width: 100%

.stock__banner--2
  .stock__banner-col
    width: 50%